/*

required css to make things work

*/

.parallax-section {

	/* position relative is needed as a references for child element positions */

	position: relative;

	/* zindex needed to put content in front of the images */

	z-index: 1;

}


.mr-px-img {

	/* This container is needed for cropping and image positioning if parallax fx is disabled */

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;

	display: block;
	overflow: hidden;

	z-index: -999;

	padding: 0;
	margin: 0;

}

.mr-px-img img {

	/* basic scaling and positioning rules which will be overwriten by javascript */

	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
 	height: auto;

}




/*

css for demo

*/

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.parallax-section {

	padding: 60px;

}

.parallax-section p {

	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	
}

.section1 {

	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 80px;

	color: #fff;

}

.section2 {

	padding-top: 200px;
	padding-bottom: 200px;

}

.section3 {

	color: #fff;

}

.section4 {

	padding-top: 100px;
	padding-bottom: 100px;

	color: #fff;

}

.section5 {
	
	padding-top: 100px;
	padding-bottom: 800px;

}



